@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.header {
    display: flex;
    min-width: 1200px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 24px 300px 100px 300px;
}

.header-logo{
    flex-shrink: 0;
    padding-right: 24px;
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;
}

.header-links{
    display: flex;
    flex-shrink: 0;
    list-style: none;
    gap: 24px;
    padding: 0px;
    margin: 0px;
    font-size: 18px;
    color: #E5E7EB;
}

.header a {
    text-decoration: none;
    color: white;
}

.content-top {
    display: flex;
    min-width: 1200px;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 0px 300px 100px 300px;
    background-color: #1f2937;
    height: auto;
    gap: 24px;
}


.left {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.left .big-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}


.left .subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.left button {
    background-color: #3882F6;
    border-radius: 10px;    
    font-size: 18px;
    color: #F9FAF8;
    font-weight: 700;
    padding: 8px 48px;
    border: 0px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.left button:hover {
    background-color: #002c72;
}

.right {
    flex-basis: 100%;
    display: flex;
    justify-content: end;
}


.right img {
    max-width: 300px;
    height: auto;
    object-fit: contain;
}

.content-mid-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 400px 50px 400px;
}

.content-mid-1 .big-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding-bottom: 50px;

}